body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lora', serif; */
}
.wrapper {
    margin: 70px auto;
    width: 90%;
    max-width: 1123px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
     /* z-index: 1000;  */
    position: relative;
    margin-bottom: -100px;
    /* padding-bottom: 40px; */
    /* border-bottom: medium double #ccc; */
    padding-top: 0;
    background-color: #f1f9f7;
    box-sizing: border-box;
}
/*=== TYPOGFAFY === */
p {
    font-family: 'Lora', serif;
    font-size: 19px;
}
a {
    color: #ef4324;
}
a:focus, a:hover {
    color: #ddd;
    text-decoration: none;
}

/*=== HEADER === */
header {
    padding: 0;
    background-color: #ffffff;
    height: 81px;
}
.main-menu {
    width: 100%;
  height: 81px;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(119, 202, 177, 0.32);
}
li.nav-item {
    padding: 5px 16px;
}
.navbar-light .navbar-nav .nav-link {
    color: #77cab1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 25px 0 25px !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #77cab1;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #77cab1;
}
.get-st a{
    color: #f55b2e !important;
}
.get-st a:hover{
    border-bottom: 3px solid #f55b2e;
}
.nav-link {
    padding: .8em 0 1em !important;
}
.collapse.show {
    background: #ffffff;
    z-index: 1;
}
li.nav-item.active a {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out; 
    border-bottom: 3px solid #77cab1;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nav-link {
    border-bottom: 3px solid transparent;
}
.nav-link:hover {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; 
    border-bottom: 3px solid #77cab1;
}
a.logo {
    width: 180px;
    /* height: 33px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f55b2e !important;
    padding: 5px 4px !important;
    display: block;
 
}
div#navbarSupportedContent {
    padding-top: 5px;
}
.hero-header {
    background-color: #77cab1;
    min-height: 772px;
    padding: 80px 0;
    position: relative;
    z-index: -1;
}
.hero-content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 68px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
img.hero-img {
    margin: 16px 0 10px;
}
img.hero-img-e {
    float: right;
    text-align: right;
    position: relative;
    bottom: 100px;
}
.hero-content {
    padding: 0 0px 0 60px;
}
.hero-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 4px;
    background-color: #f55b2e;
    padding: 25px 50px;
}
.hero-lrn-more {
    text-align: center;
    position: absolute;
    bottom: 65px;
    left: 45%;
}
.hero-lrn-more a {
    color: #ffffff;
}
.hero-lrn-more i.fas.fa-chevron-down {
    font-size: 34px;
    padding-top: 8px;
}
.hero-lrn-more h3 {
    font-family: 'Lora', serif;
}
section.gal-right {
    background-color: #f1f9f7;
    padding: 80px 0;
}
.gal-content {
    width: 500px;
    height: 500px;
    background-color: #77cab1;
    margin-left: 15px;
    padding: 33% 41px;   
}
.gal-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
img.hero-img-g {
    padding-bottom: 25px;
}
section.hero-patient {
    padding: 80px;
    text-align: center;
    background-color: #ffffff;
}
section.hero-patient h3 {
    padding-bottom: 10px;
}
.get-started {
    margin-top: 45px;
}
.get-started-s {
    margin-top: 20px;
}
.gal-left {
    background-color: #f1f9f7;
    padding: 80px 0 80px 20px;
}
.gal-content-l {
    width: 500px;
    height: 500px;
    background-color: #77cab1;
    padding: 33% 41px;   
}
.gal-content-l h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.gal-con {
    width: 230px;
    height: 230px;
    background-color: #fcc864;
    margin-top: 17px;
    padding: 53px 20px;
}
a.gal-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f55b2e;
}
.footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer-menu li {
    vertical-align: middle;
    
}
li.footer-cont {
    padding-top: 15px !important;
}
.footer-cont p {
    padding-top: 10px;
    text-align: right;
    margin-right: 10px;
}
footer {
    width: 1110px;
    height: 60px;
    background-color: #e4f3ef;
    margin: auto;
    margin-bottom: 0 !important;
    margin-top: 100px;
}
/*== ABOUT US == */
.about-us .gal-right {
    padding-bottom: 0;
}
i.far.fa-lightbulb {
    font-size: 50px;
}
section.hero-patient.h-green {
    background: #e4f3ef;
}
section.hero-patient.h-green-l {
    background: #f1f9f7;
}
/*== HOW IT WORKS== */
section.check-eligibility {
    padding: 80px 18px;
}
.img-check{
    position: relative;
    width: 520px;
    height: 500px;
    background-size: cover;
}
.check-content {
    padding: 10px 50px;
    background: #ffffff;
    margin-left: -15px !IMPORTANT;
}
.check-text {
    position: relative;
    border-bottom: 2px solid rgba(155, 155, 155, 0.3);
    padding-bottom: 26px;
    padding-top: 45px
}
.check-text h2 {
    color: #77cab1;
}
.num {
    position: absolute;
    color: rgba(119, 202, 177, 0.31);
    font-family: 'Lora', serif;
    font-size: 74px;
    font-weight: 700;
    bottom: 40px;
    left: -30px;
}
.check-text.lstch {
    border: none;
}
.why-me {
    padding: 80px 20px;
    background-color: rgba(119, 202, 177, 0.1); 
}
.why-me .row {
    padding-bottom: 80px;
}
.why-me .row.lstch {
    padding-bottom: 0;
}
.eligib-img  {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.eligib-img img {
    width: 100%;
}
.eligib-content  {
    padding: 17% 30px;
}
.middle-check {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(119, 202, 177, 0.9);
    background-color: rgba(119, 202, 177, 0.6);
    width: 520px;
    height: 500px;
  }
  .img-check img {
      background-size: cover;
  }
  .text-m {
      padding: 30% 40px;
  }
  .text-m h4 {
      color: #ffffff;
      font-size: 32px;
  }
  .num-b {
    position: absolute;
    right: 34px;
    top: 4%;
    color: rgba(255, 255, 255, 0.43);
    font-family: 'Lora', serif;
    font-size: 288px;
    font-weight: 700;
    z-index: -1;
  }
  .get-started.serv {
      padding: 10px 0; 
  }
  .check-text.services {
      border: none;
      vertical-align: middle;
      padding-top: 36%;
  }
  .get-started.serv a {
    padding: 20px 40px;
}
.middle-check.serv {
    background-color: #77cab1;
}
.middle-check.serv .text-m   {
    padding-top: 35%;
}
.left {
    text-align: left;
}
.hero-patient h2 {
    padding-bottom: 35px;
}


.providers {
    padding-top: 55px;
}
.providers .check-content {
    margin: 0px -15px 0 13px !important;
}

.sign-in .get-started {
    margin-bottom: 45px;
}
.sign-in section.hero-patient.h-green {
    background: #ffffff;
    margin: 80px 0 0;
}
.center {
    text-align: center;
}
.sign-in .center {
    margin: 30px -15px 0;
}

/***** Multi Step Form *****/

.msf-container { padding-bottom: 80px; text-align: center; }
.msf-title {
    margin-top: 80px;
    padding: 45px 30px;
    height: 121px;
    background-color: rgba(119, 202, 177, 0.9);
}
.msf-title h3 { 
    font-family: 'Lora', serif;;
    font-size: 32px;
    text-align: left;
    color: #ffffff;
 }
.msf-title p { opacity: 0.8; }
.form-text-1 {
    padding: 65px 20px;
    background-color: #e4f3ef;
}
.msf-un-bd {
    background-color: #f1f9f7;
}
.form-border {
    width: 181px;
    height: 19px;
    background-color: #fcc864;
}
.form-text-1 h5 {
    color: #77cab1;
    padding-bottom: 20px;   
}
fieldset {
    width: 100%;
}
.form-text-1 p {
    line-height: 1.95;
}
.msf-form .col-lg-6 {
    padding: 0 !important;
}
.msf-form {
    padding: 0 !important;
}
.step1 {
    background-color: #ffffff; 
}
.step1-r {
    background-color: #e4f3ef; 
}
.step1-check {
    padding: 65px 45px;
    text-align: left;
}
.step1-check h5 {
    text-align: left;
    padding-bottom: 30px;
    font-family: 'Lora', serif;
    font-size: 22px;
}
.custom-control-input:active~.custom-control-indicator {
    background-color: #77cab1;
}
.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #77cab1;
}
.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #77cab1;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #77cab1;
}
span.custom-control-description {
    font-family: 'Lora', serif;
    font-size: 20px;
}
.step1 .custom-control {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: left;
    -ms-flex-pack: start;
    justify-content: left;
    padding: 0px 0 15px 21px;
}
.msf-form form button.btn {
    margin-top: 40px !important;
}
.btn-previous {
    float: left;
    margin-left: 50px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #f55b2e;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px 45px;
    border: 1px solid #f55b2e;
}
.btn-next {
    float: right;
    margin-right: 50px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    background-color: #f55b2e;
    padding: 10px 45px;
    border: 1px solid #f55b2e;
}
.msf-form h4 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 700;
	line-height: 26px;
}
.upload-file {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #f55b2e;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px 25px;
    border: 1px solid #f55b2e;
}
i.fas.fa-upload {
    padding-right: 7px;
}
.msf-form h4 .step { color: #aaa; }

.msf-form form fieldset { display: none; overflow: hidden; }

.modal.mod-mess {
    top: 50px;
    width: 525px;
    height: 500px;
    margin: auto;
}
.modal-body {
    padding: 40px 20px 120px;
}
.modal-footer {
    border-top: none;
}
.btn-exit {
    float: right;
    margin-right: 50px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    background-color: #f55b2e;
    padding: 10px 45px;
    border: 1px solid #f55b2e;
}
.btn-enrll {
    float: left;
    margin-left: 30px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #f55b2e;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #f55b2e;
}
.modal-footer {
    display: block !important;
}

/* .msf-form form input[type="text"] { width: 340px; margin-left: 5px; margin-right: 5px; } */

.msf-form form textarea.form-control { width: 700px; height: 160px; }

/* .msf-form form select.form-control { width: 400px; margin-left: 5px; margin-right: 5px; } */

.msf-form form .form-group { margin-bottom: 15px; }

.msf-form form button.btn { min-width: 110px; margin-top: 15px; margin-left: 5px; margin-right: 5px; }

.msf-form form p { opacity: 0.8; }

.msf-form form .radio-buttons-1,
.msf-form form .radio-buttons-2,
.msf-form form .checkboxes-1,
.msf-form form .checkboxes-2 { display: inline-block; margin: 0 15px 20px 15px; }

.msf-form form .selects-1,
.msf-form form .selects-2 { display: inline-block; margin: 0 0 20px 0; }

/* === Dashboard == */
.brand-name h4 {
    font-size: 18px;
    color: #77cab1;
    padding: 5px 10px 0;
}
.hi-user p {
    padding: 4px 7px 0 7px;
    font-family: 'Open Sans', sans-serif;
}
.dash-box {
    border-radius: 5px;
    background-color: #d3eee6;
    padding: 17px 22px;
    margin-top: 40px;
}
.dash-box h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 22px 0 15px;
    font-weight: 600;
}
.dash-box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.dash-box td {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.right a {
    text-align: right;
}
.dash-table {
    width: 100%;
}
.dash-box-b {
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 40px;
}
.dash-header {
    background-color: #d3eee6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 20px 5px;
}
.dash-header h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 22px 0 15px;
    font-weight: 600;
}
.dash-table-b {
    width: 100%;
} 
.dash-box-table {
    padding: 20px 13px;
}
.dash-box-table p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.dash-box-table td {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 25%;
    padding: 10px 3px 10px;
    border-bottom: 1px solid #f0f1f4;
}
.dash-box-table thead td {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #9b9b9b;
    padding-bottom: 18px;
    border: none;
}

/* == LOG IN ==*/
.log-in-box {
    width: 50%;
    height: 500px;
    background-color: #ffffff;
    margin: 80px 40px;
    padding: 40px 30px;
}
.log-in-box h3 {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 2.95;
    padding-bottom: 15px;
    color: #000000;
}
.log-in-box label {
    font-family: 'Lora', serif;
    font-size: 20px;
    padding-bottom: 15px;
    color: #000000;
}
.forg-pass {
    float: right;
    padding: 50px 10px 20px;
}
.forg-pass a {
    font-family: 'Lora', serif;
    font-size: 13px;
    font-weight: 600;
}
.log-btn {
    padding: 18px 60px;
}
.res-btn {
    padding: 18px 25px;
}

/* == Responsive ==*/
@media screen and (max-width: 800px) {
    .btn-next {
        margin-right: 10px !important;
    }
    .btn-previous {
        margin-left: 10px !important;
    }
}